# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
ColourLovers/.pnp
ColourLovers/.pnp.js

# testing
ColourLovers/coverage

# next.js
ColourLovers/.next/
ColourLovers/out/

# production
ColourLovers/build

# misc
.DS_Store
*.pem

# debug
ColourLovers/npm-debug.log*
ColourLovers/yarn-debug.log*
ColourLovers/yarn-error.log*

# local env files
ColourLovers/.env.local
ColourLovers/.env.development.local
ColourLovers/.env.test.local
ColourLovers/.env.production.local

# vercel
ColourLovers/.vercel
